/{
	

	diody {
		compatible = "gpio-leds";
		green_led_3: led_2 {
			gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>;
			label = "User LD2";
		};
		green_led_4: led_3 {
			gpios = <&gpioa 7 GPIO_ACTIVE_HIGH>;
			label = "User LD3";
		};
	};

	przyciski {
		compatible = "gpio-keys";
		user_button3: button2 {
			label = "User B2";
			gpios = <&gpioc 12 GPIO_ACTIVE_LOW>;
		};
		user_button4: button3 {
			label = "User B3";
			gpios = <&gpioc 11 GPIO_ACTIVE_LOW>;
		};
		user_button5: button4 {
			label = "User B4";
			gpios = <&gpioc 10 GPIO_ACTIVE_HIGH>;
		};
		user_button6: button5 {
			label = "User B4";
			gpios = <&gpioc 9 GPIO_ACTIVE_HIGH>;
		};
	};

	aliases {
		led1 = &green_led_3;
		led2 = &green_led_4;
		sw1 = &user_button3;
		sw2 = &user_button4;
		sw3 = &user_button5;
		sw4 = &user_button6;
	};
};

&i2c1  {
	status = "okay";
};

&i2c1 {
	si7006@40 {
		compatible = "silabs,si7006";
		label = "SI7006";
		reg = <0x40>;
	};
};
